<main>
  <section class="about">
    <div class="about-text">
      <ul class="list">
        <h3><b>Puedes cambiar la fecha y la hora de tu dita guardada:</b></h3><br>
        <h4>Nombre: {{cita.nombre}}</h4>
        <h4>email: {{cita.email}}</h4>
        <h4>teléfono: {{cita.telefono}}</h4>
        <h4>Día: {{cita.fecha}}</h4>
        <h4>Hora: {{cita.hora}}</h4>
      </ul>
    </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center inicio">
      <form class="form" method="post" action="/citas/cambiar">
        <input type="date" id="basicDate" class="date" name="fecha" placeholder="Nueva fecha" value="" required />
        <div class="showHours part1"></div>
        <div class="hidden {{!-- slot --}}">
          <input id="hora" type="time" name="hora" class="hidden-hour">
        </div>
        <button class="cambiar" id="boton" type="submit">Guardar cambios</button>
      </form>
  </section>
</main>

<!--===============FLATPICKR CALENDARIO (idioma español y desabilitados domingos)================-->
<script src="/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>


<script>
  const fp = $("#basicDate").flatpickr({
    enableTime: false,
    altInput: true,
    altFormat: 'd M Y',
    dateFormat: 'Y-m-d',
    minDate: "today",
    "locale": "es",
    inline: true,
    "disable": [
      function (date) {
        //return true to disable
        return (date.getDay() === 0 || date.getDay() === 7)
      }
    ]
  })

  //ENVÍO FECHA AL SERVIDOR PARA QUE ME DEVUELVA LAS HORAS DISPONIBLES

  fp.config.onChange.push(() => {
    let dayConsult = fp.selectedDates[0]
    let dayNumber = Date.parse(dayConsult)
    console.log(dayNumber)
    fetch('/citas/consultarHours', {
      method: 'POST',
      body: JSON.stringify({ dayConsult: dayNumber }),
      headers: { 'Content-type': 'application/json' }
    })
      .then(res => res.json())
      .then(hours => {
        document.querySelector('.showHours').innerHTML = ''
        let hoursWorkday = []
        for (let i = 0; i < hours.hours.length; i++) {
          hoursWorkday.push(hours.hours[i])
        }
        let workday = document.createElement('div')
        hoursWorkday.forEach(e => {
          let clon = workday.cloneNode(true)
          clon.className = `hours-free`
          clon.id = `${e}`
          clon.textContent = e
          document.querySelector('.showHours').appendChild(clon)
        })
      })
  })

  //RECOJO LA HORA SELECCIONADA
  document.querySelector('.showHours').onclick = (e) => {
    document.getElementById(`${e.target.id}`).className = `hour-free select`
    let hour = e.target.id
    document.querySelector('input[name="hora"]').value = hour
    console.log(document.querySelector('input[name="hora"]').value)
  }

</script>